@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .text-green-dark { @apply text-[#586d49]; }
    .text-dark-green { @apply text-[#4b5c3f]; }
    .text-darker-green { @apply text-[#404e36]; }
    .text-green { @apply text-[#768F6A]; }
    
    
    .text-bleach { @apply text-[#CFCFB5]; }
    .text-bleach-dark { @apply text-[#9e9e86]; }
    .text-bleach-darker { @apply text-[#616152]; }
    .bg-bleach { @apply bg-[#CFCFB5]; }
    .bg-bleach-fade { @apply bg-[#f0f0e5]; }
  
    .bg-green-dark { @apply bg-[#586d49]; }
    .bg-green { @apply bg-[#768F6A]; }

    .border-green { @apply border-[#8a9c81]; }
    .bg-dark-white { @apply bg-[#e2e2da]; }
    .text-dark-white { @apply text-[#e2e2da]; }
    .bg-dark-white2 { @apply bg-[#d7d7cd]; }

  }
.background-market{
    background: linear-gradient(180deg, #e3e3da 40%, #f2f2ef 55%);
}
*{
  font-family: 'Barlow', sans-serif;
}
.scroll {
  height: 180px;
  overflow-x: auto;
}
.noise{
  background-image: url("../assets/imags/noise.png");
  background-repeat: repeat;
  background-size: 4%;
  background-blend-mode: hue;
}

* {
  -webkit-tap-highlight-color: transparent;
}
.bg-green-noise{
  background-image: url("../assets/imags/greennoise.png");
  background-size: 20%;
}


.animate-spining{
  animation: spin 30s linear infinite;
}
.updown{
  animation: updown 2s ease-in-out infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@keyframes updown {
  0% {
    transform: translateX(3px);
  }
  50% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(3px);
  }
}